@import url('https://fonts.googleapis.com/css2?family=Libre+Caslon+Text:ital,wght@0,400;0,700;1,400&display=swap');

html{
    
    min-height: 90vh;
    width: 100%;
    font-family: "Libre Caslon Text", serif;
}

body{

    margin: 2rem;
    display: flex;
    flex-direction: column;
    font-family: 
    min-height: 90vh;
}
table {
    
    padding: 0;
    margin: 0;
}
p{
    margin: 2rem;
    padding: 1rem;
    border: 3px solid #333
}
.complete-week{
    background-color: hwb(120 72% 1%);
}
.content-container {
    border: 1px solid black; /* Border around the entire block */
    padding: 10px;          /* Add space between the content and border */
    margin: 10px 0;         /* Optional: Add space outside the container */
    /* border-radius:;     Optional: Rounded corners */
}
.content{
    flex: 1;
}
.WelcomeBCBanner{
    
    font-style: ;
    font-size: larger;
    margin: 0 auto;
    padding: 1rem;
    width: auto;

}

ol{
    margin: ;
    padding: 1 rem
}
h1{

}
h2{
padding: .5rem 0 ;
margin: 0;
}
h3{
    padding-left: .5rem;
    margin: 0;
}



footer{
    padding-top: 2rem;
    padding-bottom: 2rem;
    display: flex;
    font-size: small;
    justify-content: center;
}